<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Create</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link th:href="@{/css_admin/styleAdmin.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
  <div class="title">
    Create payment
  </div>
  <div class="form">
    <div class="inputfield">
      <label>Payment_id</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>Payment_status</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>price</label>
      <input type="password" class="input">
    </div>


    <div class="inputfield">
      <input type="submit" value="create" class="btn">
    </div>
  </div>
</div>
</body>
</html>