<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Nội Dung Phim</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
<div class="wrapper">
  <!-- Banner -->
  <div class="banner-top">
    <div class="top_img">
      <img src="/images/banner-top/BxDqs2S.jpg">
      <img src="/images/banner-top/image-297-1685675888.jpg">
      <img src="/images/banner-top/image-84-1685675887.jpg">
      <img src="/images/banner-top/marvel_future_revolution.jpg">
      <img src="/images/banner-top/1.png">
      <img src="/images/banner-top/fairy.jpg">
      <img src="/images/banner-top/fairy1.jpg">
      <img src="/images/banner-top/dietquy.jpg">
    </div>

    <div class="top_img">
      <img src="/images/banner-top/BxDqs2S.jpg">
      <img src="/images/banner-top/image-297-1685675888.jpg">
      <img src="/images/banner-top/image-84-1685675887.jpg">
      <img src="/images/banner-top/marvel_future_revolution.jpg">
      <img src="/images/banner-top/1.png">
      <img src="/images/banner-top/fairy.jpg">
      <img src="/images/banner-top/fairy1.jpg">
      <img src="/images/banner-top/dietquy.jpg">
    </div>
  </div>


  <!-- Header section -->
  <div class="header">
    <div class="navbar">
      <div class="logo">
        <a th:href="@{/testFE/home}">
          <img th:src="@{/images/logo.png}" alt="logo">
        </a>
      </div>
      <nav>
        <ul>
          <li class="dropdown">
            <a href="#">PHIM</a>
            <div class="dropdown-content">
              <a th:href="@{/testFE/list_film}">Phim Đang Chiếu</a>
              <a th:href="@{/testFE/list_film}">Phim Sắp Chiếu</a>
            </div>
          </li>
          <li class="dropdown">
            <a th:href="@{/testFE/list_cinema}">RẠP</a>
          </li>
          <li class="dropdown">
            <a href="#">THÀNH VIÊN</a>
          </li>
          <li class="dropdown">
            <a href="#">VÉ CỦA TÔI</a>
          </li>
          <li class="dropdown">
            <a th:href="@{/testFE/book_sits}">ĐẶT VÉ</a>
          </li>
          <li class="dropdown" id="login-li">
            <a th:href="@{/testFE/login}">ĐĂNG NHẬP</a>
          </li>
          <li class="dropdown" id="name-li" style="display: none;">
            <a th:text="${user.getFullName}" style="color: white">UserFullName</a>
            <div class="dropdown-content" id="name-li-a">
              <a th:href="@{/testFE/detail_user}">Đổi Mật Khẩu</a>
              <a th:href="@{/testFE/logout}">Đăng Xuất</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="search-form">
        <form>
          <input type="text" placeholder="Tìm phim">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="container">
    <div class="row details-film">


      <h3><img src="/images/img-button/tenlua1.png">Nội Dung Phim</h3>
      <hr />

      <div class="col-md-4 details-film-img">

        <img src="https://demoda.vn/wp-content/uploads/2022/01/hinh-nen-tinh-yeu-lang-man-341x600.jpg">

      </div>
      <div class="col-md-6 details-film-phara">
        <h3> Học Viện Anh Hùng</h3><br>
        <hr/>
        <p> <b>Thể loại:</b> Hành Động, Phiêu Lưu<br>
          <b>Thời lượng:</b> 144 phút<br>
          <b>Khởi chiếu:</b> 16-06-2023<br>
          <b>Đạo diễn: </b> Viết Chúc<br>
          <b>Diễn viên: </b> Robert Downey Jr.
          Chris Evans
          Mark Ruffalo
          Chris Hemsworth
          Scarlett Johansson
          Jeremy Renner
          Tom Hiddleston
          Clark Gregg
          Cobie Smulders
          Stellan Skarsgård
          Samuel L. Jackson<br>
          <b>Ngôn ngữ: </b>Tiếng Nhật - Phụ đề tiếng việt<br>
          <b>Chi Tiết: </b> Bộ phim hoạt hình chuyển thể từ loạt truyện tranh “Slam Dunk” nổi tiếng của Takehiko Inoue,
          khắc họa quá trình trưởng thành cá nhân của những học sinh trung học cống hiến tuổi trẻ cho bóng rổ.
          Phim theo chân Ryota Miyagi, hậu vệ của đội bóng rổ trường trung học Shohoku.
          Anh có một người anh trai, Sota, hơn anh ba tuổi và là người đã truyền cảm hứng cho tình yêu bóng rổ của anh.
          Ryota và các đồng đội của mình là Hanamichi Sakuragi, Takenori Akagi, Hisashi Mitsui và Kaede Rukawa thách đấu nhà vô địch bóng rổ liên trường, đội bóng rổ trường trung học Sannoh.
          Tác giả nguyên tác Inoue phụ trách chỉ đạo và viết kịch bản.
        </p>
        <div class="buy-ticket">
          <h5><a href="#">
            <b>Mua Vé</b>
            <i class="fa fa-shopping-cart" style="font-size:26px"></i>
          </a></h5>
        </div>

      </div>



      <hr/>
    </div>

  </section>

</div>
<div class="footer">
  <div class="credit">
    <div class="credit-list">
      <p style="color:orange">Copyright &copy; Cinema Booking Website 2023</p>
    </div>

    <div class="credit-list">
      <div class="social-media">
        <button><i class="fa fa-twitter"></i></button>
        <button><i class="fa fa-facebook-f"></i></button>
        <button><i class="fa fa-instagram"></i></button>
      </div>
    </div>
    <div class="credit-list">
      <p style="color:orange">Privacy Policy Terms of Use</p>
    </div>
  </div>
</div>

<script th:inline="javascript">
  // JavaScript code
  document.addEventListener("DOMContentLoaded", function () {
    // Check user's login status
    var isLoggedIn = 1/*[[${isLoggedIn}]] *//* Your logic to check if the user is logged in */;

    // Get the navbar list and login elements
    var navbarList = document.getElementById("navbar-list");
    var loginLi = document.getElementById("login-li");
    var nameLi = document.getElementById("name-li");
    var nameLiA = document.getElementById("name-li-a");

    // Toggle the visibility of navbar elements based on login status
    if (isLoggedIn) {
      loginLi.style.display = "none";
      nameLi.style.display = "inline-block";
      nameLiA.style.display = "none";
    } else {
      loginLi.style.display = "inline";
      nameLi.style.display = "none";
    }

    // Add event listener to toggle the display of "name-li-a" on hover
    nameLi.addEventListener("mouseover", function () {
      nameLiA.style.display = "block";
    });

    nameLi.addEventListener("mouseout", function () {
      nameLiA.style.display = "none";
    });
  });

</script>
</body>

</html>
